$azulClaro:#38b9db;
$azulMedio:#138496;
$azulOscuro:#1b2133;
$blanco:#fff;
$blancoRoto:#f3f3f3;
$gris:#a2a0a1;
$grisRoto:#dee2e6;
$rojo:#bd2130;
$rosa:#f74668;
$negro:darken($azulOscuro, 20);
$fontBody:'Roboto';
$fontTitulos:'Roboto Slab';
$tipoBase:1rem;
$base:10px;
$baseEspacios:10;
$transparencia:linear-gradient(45deg, rgb(0, 0, 0) 50%, rgba(0, 0, 0, 0)100%);